[Unit]
Description=Consul Agent

[Service]
Environment="GOMAXPROCS=`nproc`"
User={{ consul_user }}
Group={{ consul_group }}
ExecStart=/bin/sh -c '{{ consul_home }}/bin/consul agent -config-dir {{ consul_config_dir }} -config-file={{ consul_config_file }} >> {{ consul_log_file }} 2>&1'

[Install]
WantedBy=multi-user.target
